extends ../../layout/main

block variables
  - title = `Результаты${title}`
  - bodyClass = 'results'

block content
    .row
        .col-lg-12
            .card-box
                .d-flex.mb-3.justify-content-between
                    .font-weight-bold
                        | Показаны записи c #{pagination.from} по #{pagination.to} из #{pagination.count}
                    if pagination.pages > 1
                        nav
                            ul.pagination.mb-0.justify-content-end
                                li.page-item(class={ 'disabled': pagination.page == 1 })
                                    a.page-link(href=`?page=${pagination.page - 1}`) Пред
                                - var i = 0
                                while i < pagination.pages
                                    li.page-item(class={ 'active': ++i == pagination.page })
                                        a.page-link(href=`?page=${i}`)=i
                                li.page-item(class={ 'disabled': pagination.page == pagination.pages })
                                    a.page-link(href=`?page=${pagination.page + 1}`) След

                .table-responsive
                    table.table.table-hover.mb-0
                        thead
                            tr
                                th Пользователь
                                th Вопрос
                                th Ответ
                                th Правильно
                                th Дата/время
                        tbody
                          each result in results
                              tr(class={ 'bg-light': result['user.id'] == iam })
                                  td
                                      a(href=`/results/user/${result['user.id']}`) #{result['user.id']}
                                  td
                                      a(href=`/results/question/${result['question.id']}`) #{result['question.name']}
                                  td #{result.answer}
                                  td(class={ 'text-success': result.right, 'text-danger': !result.right })
                                      if result.right
                                          i.mdi.mdi-check
                                      else
                                          i.mdi.mdi-close
                                  td #{moment(result.createdAt).format('DD.MM.YYYY H:mm:ss')}
